name: IaC Scan Demo Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  orca-iac-scan-job:
    name: IaC Security Scan
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Orca IaC Security Scan
      uses: orcasecurity/shiftleft-iac-action@v1
      with:
          api_token: ${{ secrets.ORCA_SECURITY_API_TOKEN }}
          project_key: "default"
          path: "iac"
